
<%= form_with(local: true) do |form| %>
    <div class="title">
        <h1>麻雀計算ツール</h1>
    </div>

    <%= select_tag(:game_type, options_for_select(['収支戦','順位戦','天鳳'],[1,2,3])) %>
    <%= select_tag(:game_type, options_for_select(['3級以下','2級','1級','初段','二段','三段','四段','五段','六段','七段','八段','九段','十段'],[0,1,2,3,4,5,6,7,8,9,10,11,12])) %>


<% end %>